{% comment %} {% if messages %}
  <div class="container" id="message">
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Important:</strong>{% endif %}
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  </div>
{% endif %} {% endcomment %}

{% if messages %}
    {% for message in messages %}
    <div class="container" id="message">
    <div {% if message.tags %} class='alert alert-{{ message.tags }}'{%endif %} role='alert'>
        <button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'>&times;</span></button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error: {% endif %}
        {% comment %} {% if message.tags == 'error' %}Error: {% endif %} {% endcomment %}
        {{message}}
    </div>
    </div>
    {% endfor %}
{% endif %}
